services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "1313:1313"
    volumes:
      - ./backend:/app
    environment:
      - PORT=1313
      - CONFIG_PATH=./config/config.prod.yml
    # Uncomment this if you're using local MongoDB
    # depends_on:
    #   - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    environment:
      - VITE_BASE_URL=http://localhost:1313

# Uncomment this mongo service when you're using local MongoDB
#   mongo:
#     image: mongo:latest
#     volumes:
#       - mongo_data:/data/db

# volumes:
#   mongo_data:

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: "true"
