@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;        
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 90.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 208 50% 13%;
    --foreground: 60 9.1% 97.8%;
    --card: 208 50% 9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 208 50% 9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 24.6 95% 53.1%;        
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 210 20% 18%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 210 20% 18%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 210 20% 18%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 210 20% 22%;
    --input: 210 20% 22%;
    --ring: 24.6 95% 53.1%;
  }
  .contrast {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 6%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 100%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 100%;
    --primary: 24.6 95% 53.1%;           
    --primary-foreground: 0 0% 0%;
    --accent: 60 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 60 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Google button cleanup (safe) */
.google-btn-wrapper iframe {
  border: none !important;
}
.google-btn-wrapper div[role="button"] {
  border: none !important;
  box-shadow: none !important;
}
